
<h2>Tickets</h2>
<hr>



<div class="row">
  <div class="col-md-12">
    <div class="container">
      <h3>4-Day Tickets</h3>
      <button>
          <div>
            <div class="days">4-DAY</div>
            <br>
            <div class="type">GENERAL ADMISSION</div>
          </div>
          <div class="price">$340</div>
        </button>
      </div>
    </div>

  <div class="col-md-12">
    <div class="container">
      <button>
          <div>
            <div class="days">4-DAY</div>
            <br>
            <div class="type">GA+</div>
          </div>
          <div class="price">$650</div>
        </button>
      </div>
    </div>
  
  <div class="col-md-12">
      <div class="container">
        <button>
            <div>
              <div class="days">4-DAY</div>
              <br>
              <div class="type">VIP</div>
            </div>
            <div class="price">$2,200</div>
          </button>
        </div>
      </div>
      
  <div class="col-md-12">
      <div class="container">
        <button>
            <div>
              <div class="days">4-DAY</div>
              <br>
              <div class="type">PLATINUM</div>
            </div>
            <div class="price">$4,200</div>
          </button>
        </div>
      </div>
          
  <div class="col-md-12">
      <div class="container">
        <button>
            <div>
              <div class="days">4-DAY</div>
              <br>
              <div class="type">LOLLA INSIDER</div>
            </div>
          </button>
        </div>
      </div>

  <div class="col-md-12">
    <div class="container">
      <h3>Cabanas</h3>
      <button>
          <div>
            <div class="days">4-DAY</div>
            <br>
            <div class="type">CABANAS</div>
          </div>
        </button>
      </div>
    </div>
  
  <div class="col-md-12">
    <div class="container">
      <h3>1-Day Tickets (COMING SOON)</h3>
      <button>
          <div>
            <div class="days">1-DAY</div>
            <br>
            <div class="type">GENERAL ADMISSION</div>
          </div>
          <div class="price">$130</div>
        </button>
      </div>
    </div>
  
  <div class="col-md-12">
      <div class="container">
        <button>
            <div>
              <div class="days">1-DAY</div>
              <br>
              <div class="type">GA+</div>
            </div>
            <div class="price">$225</div>
          </button>
        </div>
      </div>

  <div class="col-md-12">
      <div class="container">
        <button>
            <div>
              <div class="days">1-DAY</div>
              <br>
              <div class="type">VIP</div>
            </div>
            <div class="price">$650</div>
          </button>
        </div>
      </div>

  <div class="col-md-12">
      <div class="container">
        <button>
            <div>
              <div class="days">1-DAY</div>
              <br>
              <div class="type">PLATINUM</div>
            </div>
            <div class="price">$2,000</div>
          </button>
        </div>
      </div>

  <div class="col-md-12">
      <div class="container">
        <button>
            <div>
              <div class="days">4-DAY</div>
              <br>
              <div class="type">General Admission</div>
            </div>
            <div class="price">$340</div>
          </button>
        </div>
      </div>

  <div class="col-md-12">
    <div class="container">
      <h3>GROUP TICKETS</h3>
      <button>
          
        <div class="days">GROUP REWARDS</div>
      </button>
    </div>
    </div>
  
  <div class="col-md-12">
    <div class="container">
      <button>
        <div class="days">EARN REWARDS</div>
      </button>
    </div>
  </div>
    
</div>

    
