<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="http://www.facebook.com/lollapalooza" class="fa fa-facebook"></a>
      </li>

      <li class="nav-item">
        <a href="http://twitter.com/lollapalooza" class="fa fa-twitter"></a>
      </li>

      <li class="nav-item">
        <a href="http://www.instagram.com/lollapalooza" class="fa fa-instagram"></a>
      </li>

      <li class="nav-item">
        <a href="https://www.reddit.com/r/lollapalooza" class="fa fa-reddit"></a>
      </li>

      <li class="nav-item">
        <a href="" class="fa fa-ellipsis-h"></a>
      </li>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="E-LIST" aria-label="Search">
        <button id="joinbtn" class="btn bg-warning my-2 my-sm-0" type="submit">Join</button>
      </form>


      <li>
        <button class="btn btn-secondary" type="button">
          MYFEST
        </button>
      </li>

      <li class="nav-item dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lolla is Global
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">All Lollapaloozas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Lollapalooza Chicago</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Lollapalooza Argentina</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Lollapalooza Brazil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Lollapalooza Chile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Lollapalooza Berlin</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Lollapalooza Paris</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Lollapalooza Stockholm</a>
        </div>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="E-LIST" aria-label="Search">
        <button id="searchbtn" class="btn bg-warning my-2 my-sm-0" type="submit"><i class="fa fa-search" id="searchbtn"></i></button>
      </form>
    
  </div>
</nav>