#artists {
  margin: 0;
  display: inline-flex;
}

.artistButton {
  background-color: #9164cc;
  color: white;
  position: relative;
  height: 60px;
  width: 90%;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  text-transform: uppercase;
}
h2 {
  text-align: center;
}

.sortButton {
  background-color: #9164cc;
  color: white;
  float: right;
  margin-right: 45px;
}

/* @media (max-width:830px) {
  .col-md-3 {
    width: 100%;
  }
} */