#midnav {
  height: 60px;
  background-color:#00af9a;
}

.midnav {
  width: 100%;
}
.midnav ul {
  list-style-type: none;
  display:inline-block;
}
.midnavDrop {
  margin-top: 15px;
  float:left;
  color: white;
  margin-left: 50px;
  font-family: verdana;
  font-weight: 800;
}

.linkList {
  list-style-type: none;
  float: right;
  margin-right: 40px;
}

.midnavLink{
  margin-top: 15px;
  float:right;
  color: white;
  margin-left: 20px;
  font-family: verdana;
  font-weight: 800;
}

.dropbtn {
  margin-top: 15px;
  color: white;
  margin-left: 50px;
  font-family: verdana;
  font-weight: 800;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00af9a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: verdana;
  font-weight: 900;
  
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}

a h3:hover {
  color: gold;
}




.dropdown-content h3:hover {color: gold;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #00af9a;}

@media only screen and (max-width: 1378px) {
  .col-md-4 {
    display: none;
  }
}

@media only screen and (max-width: 1378px) {
  .col-md-8 {
    width: 100%;
  }
}

@media only screen and (max-width: 1378px) {
  #midnav {
    text-align: center;
  }
}

@media only screen and (max-width: 873px) {
  #midnav {
    height: 120px;
  }
}

@media only screen and (max-width: 535px) {
  .midnavDrop, .dropbtn, .dropdown-content h3 {
    font-size: 20px;
  }
}




