<div class="row" id="midnav">
    <div class="dropList">
      <a routerLink="tickets"><h3 class="midnavDrop">TICKETS</h3></a>
    </div>
    <div class="dropdown">
        <a routerLink="lineup"><h3 class="dropbtn">LINEUP</h3></a>
        <div class="dropdown-content">
          <a href="#"><h3>LINEUP POSTER</h3></a>
          <a href="#"><h3>INTERACTIVE LINEUP</h3></a>
        </div>
    </div>
  
    <div class="dropdown">
      <h3 class="dropbtn">EXPERIENCE</h3>
        <div class="dropdown-content">
          <a href="#"><h3>EXPERIENCE LOLLA</h3></a>
          <a href="#"><h3>THE VIP EXPERIENCE</h3></a>
          <a href="#"><h3>THE PLATINUM EXPERIENCE</h3></a>
          <a href="#"><h3>CABANAS</h3></a>
        </div>
    </div>
  
    <div class="dropdown">
      <h3 class="dropbtn">INFORMATION</h3>
        <div class="dropdown-content">
          <a href="#"><h3>SUSTAINABILITY</h3></a>
        </div>
    </div>
  

  <div class="col-md-4">
    <ul class="linkList">
      <li class="midnavLink">GLOBAL</li> 
      <li class="midnavLink">NEWS</li>
      <li class="midnavLink">MERCH</li>
      <li class="midnavLink">HOTELS</li>
    </ul>
  </div>
</div>