<div class="midnav">
    

      
  <div class="dropList">
    <h3 class="midnavDrop">TICKETS</h3>

  </div>
  <div class="dropdown">
      <h3 class="dropbtn">LINEUP</h3>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>

    <div class="dropdown">
        <h3 class="dropbtn">EXPERIENCE</h3>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      <div class="dropdown">
          <h3 class="dropbtn">INFORMATION</h3>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
    
 



  <ul class="linkList">
    <li class="midnavLink">HOTELS</li>
    <li class="midnavLink">MERCH</li>
    <li class="midnavLink">NEWS</li>
    <li class="midnavLink">GLOBAL</li> 
  </ul>
</div>