.poster {
  width: 50%;
  height: 600px;
  background-image: url('../../assets/lineup-poster.png');
  overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    background-color: black;
    
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.tickets {
  height: 300px;
  width: 50%;
  background-image: url('../../assets/buy-ticket.jpg');
  float: right;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.hotel {
  height: 300px;
  width: 50%;
  background-image: url('../../assets/hotel.jpg');
  float: right;
}