
.poster {
  height: 100%;
  width: 100%;
  background-color: black;
  background-position: center;
}

.poster img {
  height: 100%;
  width: 100%;
}

.tickets {
  height: 50%;
  width: 100%;
}

.tickets img {
  height: 100%;
  width: 100%;
}

.hotel {
  position: relative;
  height: 100%;
  width: 100%;
}

.hotel img {
  height: 50%;
  width: 100%;
}