
  <div class="row">
    <div class="col-md-6">
      <div class="poster">
        <img src="../../assets/lineup-poster.png" alt="">
      </div>    
    </div>
    <div class="col-md-6">
      <div class="tickets">
        <img src="../../assets/buy-ticket.jpg">
        <h3 class="ticketscentered">TICKETS ON SALE NOW
        <br>
        <span><h5>GA, GA+, VIP & PLATINUM AVAILABLE</h5></span>
        <button>BUY TICKETS</button>
        </h3>
      </div>
      <div class="hotel">
        <img src="../../assets/hotel.jpg">
        <h3 class="hotelcentered">LOWEST HOTEL RATES
        <br>
        <span><h5>WE'VE GOT THE GUARANTEED BEST RATES
        </h5></span>
        <button>BOOK HOTEL</button>
        </h3>
      </div>
    </div>
  </div>




  


